dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.exe
.virthualenv
*~
.hsenv_*
.cabal-sandbox
cabal.sandbox.config
dist_*
history
TAGS
_cache
_site
web/doc
web/blog
web/gallery/images
web/banner/images
.make
.shake.database
Shake
*.aux
*.log
HCAR/*.pdf
doc/icons/*.png
HCAR/html
*.nav
*.out
*.toc
*.vrb
*.snm
*.ptb
*.errors
talks/2013-nyhaskell/13-11-25-nyhaskell-diagrams.pdf
talks/2013-nyhaskell/13-11-25-nyhaskell-diagrams.tex
.diagrams_cache
talks/*/diagrams
talks/2014-LGM/LGM.pdf
talks/2014-LGM/LGM.tex
talks/2014-LGM/scripts/RepoRainbow
talks/2014-LGM/scripts/RepoRainbow.pdf
