<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Diagrams - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	<link rel="shortcut icon" href="/diagrams.ico" />

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	<!--
	<script type="text/javascript" src="/js/listCollapse.js"></script>
	<script type="text/javascript">
	window.onload = function () {
	  compactMenu('toc',true,'&plusmn; ');
	}
        </script>
	-->
    </head>
    <body>
      <div id="wrap">
        <div id="header">
	  <img src="/images/Logo.png" height="50" /> Haskell drawing framework
	</div>

        <div id="navigation">
	  <ul>
            <li><a href="/">About</a></li>
	    <li><a href="/download.html">Installation</a></li>
            <li><a href="/documentation.html">Documentation</a>
	      <ul>
		<li><a href="/documentation.html">Tutorials</a></li>
		<li><a href="/doc/manual.html">User manual</a></li>
		<li><a href="/haddock/index.html">API reference</a></li>
		<li><a href="http://haskell.org/haskellwiki/Diagrams">Wiki</a></li>
		<li><a href="http://www.haskell.org/haskellwiki/Diagrams/FAQ">FAQ</a></li>
              </ul>
	    </li>
	    <li><a href="/gallery.html">Gallery</a></li>
	    <li><a href="/community.html">Community</a>
	      <ul>
		<li><a href="http://webchat.freenode.net?channels=diagrams">IRC channel</a></li>
		<li><a href="http://groups.google.com/group/diagrams-discuss">Mailing
		list</a></li>
		<li><a href="/community.html">Bug trackers</a></li>
              </ul>
	    </li>
	    <li><a href="/releases.html">Releases</a></li>
        <li><a href="/blog/index.html">Blog</a></li>
	   </ul>

        </div>

	<div id="content">
	<h1>$title$</h1>
        $body$
	</div>

	<div id="footer">
	  Site generated
	  by <a href="http://jaspervdj.be/hakyll/">hakyll</a>.
	</div>
      </div>
    </body>
</html>