<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Diagrams - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <h2>Diagrams: $title$</h2>
    <body>
        <div id="navigation">
            <a href="/">Home</a>
	    <a href="/download.html">Download</a>
            <a href="/documentation.html">Documentation</a>
	    <a href="/gallery.html">Gallery</a>
	    <a href="/community.html">Community</a>
        </div>

        $body$

	<div id="footer">
	  Site generated
	  by <a href="http://jaspervdj.be/hakyll/">hakyll</a>.
	</div>
    </body>
</html>
