body, html {
    margin:0;
    padding:0;
    color:#000;
    font-family: sans;
}

#header {
    padding-top: 30px;
}

#header.big {
  text-size: +2;
}

#wrap {
    width:800px;
    margin:0 auto;
}

#navigation {
    padding-top: 30px;
    float: left;
    width: 200px;
    font-size: small;
    line-height: 150%;
}

#navigation ul {
    list-style: none;
    margin-left: 0;
    padding-left: 2em;
    text-indent: -2em;
}

#navigation a {
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}

#content {
    float: right;
    width: 600px;
 }

#content h1 {
    font-size: 24px;
}

#content h2 {
    font-size: 18px;
}

#content h3 {
    font-size: 16px;
}

#footer {
    clear: both;
    padding-top: 50px;
    text-align: center;
    font-size: small;
}

div.exampleimg {
    padding-top: 10px;
    text-align: center;
}

div.dia-lhs {
    padding: 20px;
    border-style: solid;
    border-width: thin;
}

code a {
    color: #330099;
    text-decoration: none;
}

.module a {
    color: #333333;
    text-decoration: underline;
}

.package a {
    color: blue;
    text-decoration: underline;
}

div.todo:before {
    content: url(/manual/icons/towrite.png);
    float: right;
}

div.todo {
    padding: 20px;
    border-style: solid;
    border-width: thin;
    background-color: #ddddff;
}

div.warning:before {
    content: url(/manual/icons/warning.png);
    float: right;
}

div.warning {
    padding: 20px;
    border-style: solid;
    border-width: thin;
    background-color: #ffdddd;
}

div.contents ul {
    list-style-type: none;
    line-height: 50%;
}
