
div.todo:before {
    content: url(../doc/icons/ToWrite.$ext$);
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.warning:before {
    content: url(../doc/icons/Warning.$ext$);
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.exercises:before {
    content: url(../doc/icons/Exercises.$ext$);
    float: right;
    padding: 20px;
}

div.panoramic {
    width: 100%;
    height: 400px;
    background-image: url(../images/factorization.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}