/* Miscellaneous CSS for home page */

.lead-panel {
    min-height: 100pt;
    max-height: 100pt;
    cursor: pointer;
    background-color: #e6e6e6;
}

.lead-panel:hover {
  background: lightgray;
}
